@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Inter:wght@100..900&display=swap');

@media print {
  @page {
    margin: 0;
    size: A4 portrait;
  }

  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    /* Prevent horizontal scroll on mobile */
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* Remove tap highlight on mobile */
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


  body * {
    visibility: hidden !important;
  }

  .print-only,
  .print-only * {
    visibility: visible !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print-only {
    position: fixed;
    left: 0;
    top: 0;
    width: 210mm;
    height: 297mm;
    max-height: 297mm;
    margin: 0;
    padding: 0;
    background: white !important;
    z-index: 9999;
    display: flex !important;
    flex-direction: column;
    overflow: hidden !important;
  }
}

/* Global transitions and smoothing */
.page-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 400ms, transform 400ms;
}